* { font-family: 'Avenir', sans-serif; }

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ep-cover {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ep-cover--title {
  margin-top: 5rem;
  font-size: 2rem;
  font-weight: 700;
}

.ep-cover--date{
  margin-top: 5px;
  font-size: 15px;
}

.ep-cover img {
  height: 250px;
  width: 250px;
}

@media only screen and (min-width: 768px) {
  .ep-cover img {
    height: 400px;
    width: 400px;
  }

  .ep-cover--title {
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .ep-cover--date{
    margin-top: 5px;
    font-size: 16px;
  }
}